<div class="jumbotron aboutjumbo jumbotron-fluid vertical-center">
  <div class="container">
    <h1 class="featurette-heading text-center"> meet the students </h1>
    <p class="lead">| &nbsp; michelle bilich &nbsp;|&nbsp; jared jones &nbsp; |</p>
  </div>
  </div>
  <div class="container">

<!-- Left-aligned -->
<div class="container marketing">
<hr class="featurette-divider">
 <div class="featurette">
   <img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("Jared2.jpg")%>
   <h2 class="featurette-heading">Jared Jones</h2>
   <ul class="lead">
     <li>Grew up in Middletown, Ohio</li>
      <li>After graduation I attended The Ohio State University</li>
      <li>Graduated from OSU with a B.S. in Turfgrass Science</li>
      <li>Spent 2 Years upon graduation as a Golf Professional in Central Ohio</li>
      <li>Transitioned into sales in the Insurance industry for almost a decade</li>
      <li>Left the Insurance industry to start a local retail business with some friends</li>
      <li>A few years later I decided retail wasn't for me and technology would be my next path</li>
      <li>Enrolled in Tech Talent South Code Immersion Bootcamp</li>
   </ul>
 </div>
 <hr class="featurette-divider">
 <div class="featurette">
   <img class="featurette-image img-circle img-responsive pull-left" <%=image_tag("headshot.jpg")%>
      <h2 class="featurette-heading">Michelle Bilich</h2>

      <ul class="lead">
     <li>Born in New Orleans but grew up in Southwest Florida.</li>
      <li>Family business Co-Owner/Operator at Cell-Tech Express (electronic repair and retail stores)</li>
      <li>No previous programming experience prior to attending bootcamp besides some basic HTML and CSS knowledge</li>
      <li>Reason for attending bootcamp: To implement what I've learned into our current business model to solve various problems and become more efficient.</li>
      <li>Goals after bootcamp: To continue learning more about Ruby on Rails, Python and Javascript. As well as learning to build and program using raspberry pi.</li>
   </ul>
 </div>
 <hr class="featurette-divider">
