<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid vertical-center">
  <div class="container">
    <h1 class="featurette-heading text-center"> hello world. </h1>
    <p class="lead">two coding bootcamp students <br>make a website</p>
  </div>
</div>


<!-- Wrap to center all the content. -->
<div class="container marketing">

<hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("TTS_classmates.jpg")%>
    <h2 class="featurette-heading text-center"> BOOTCAMP <br><span class="text-muted text-center"> <i>what did we learn?</i> </span></h2>

    <br>

<!-- START RUBY, RAILS, DOMAIN MODELING ETC DESCRIPTIONS -->

  <div class="row-fluid-wrapper row-depth-1 row-number-5 ">
  <div class="row-fluid ">
  <div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">

  <div class="custom-three-col-content-box clearfix">
      <div class="row">
          <div class="col-sm-4 col-md-4 custom-col1">
              <div class="content-boxes style-two top-column clearfix animated zoomInLeft wow">
                  <div class="content-boxes-text">
                      <h4 class="featurette-heading">Ruby</h4>
  <p class="lead">One of the most popular object oriented programming languages, Ruby! It's powerful, yet simple syntax got us programming in no time!</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4 col-md-4 custom-col2">
              <div class="content-boxes style-two top-column clearfix animated zoomInLeft wow">
                  <div class="content-boxes-text">
                      <h4 class="featurette-heading">Rails</h4>
  <p class="lead">Ruby on Rails, this versatile web application framework that allows for rapid prototyping of database driven apps.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4 col-md-4 custom-col3">
              <div class="content-boxes style-two top-column clearfix animated zoomInLeft wow">
                  <div class="content-boxes-text">
                      <h4 class="featurette-heading">HTML/CSS</h4>
  <p class="lead">We produced structure and content with HTML, then made it beautiful and responsive with CSS.</p>
                  </div>
              </div>
          </div>
      </div>
  </div></div>
      <div class="row">
          <div class="col-sm-4 col-md-4 custom-col1">
              <div class="content-boxes style-two top-column clearfix animated zoomInLeft wow">
                  <div class="content-boxes-text">
                      <h4 class="featurette-heading">APIs</h4>
  <p class="lead">Our apps use external APIs that pulled in data from sources like Google Maps, Stripe, and Facebook.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4 col-md-4 custom-col2">
              <div class="content-boxes style-two top-column clearfix animated zoomInLeft wow">
                  <div class="content-boxes-text">
                      <h4 class="featurette-heading">Deployment</h4>
  <p class="lead">We wanted to share them with the world! Heroku helped us deploy apps and make it live for others to use.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4 col-md-4 custom-col3">
              <div class="content-boxes style-two top-column clearfix animated zoomInLeft wow">
                  <div class="content-boxes-text">
                      <h4 class="featurette-heading">Domain Modeling</h4>
  <p class="lead">While working with Rails, we learned the crucial skill of modeling resources and relationships in database backed web apps.</p>
                  </div>
              </div>
          </div>
      </div>
  </div></div></span>



  <hr class="featurette-divider">


  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-left" src="https://images.unsplash.com/photo-1518818608552-195ed130cdf4?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=f4df39ab3b871f8c91b795b1c1e6ac3c">
       <h2 class="featurette-heading">RoR <span class="text-muted"> focus </span></h2>
    <p class="lead">Ruby on Rails was the primary focus in our bootcamp. This language and framework has it's complexities like any other programming language, but due to it being somewhat newer it has enough support and community built up to make it a great first language and framework to learn. Since it's inception in 2005 many have fallen in love with it's ability to provide industry standards. </p>
  </div>



  <hr class="featurette-divider">


  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-right" src="https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=5707340857e74a0a99e728905a6576e4">
      <h2 class="featurette-heading">Coders <span class="text-muted"> Wanted </span></h2>
    <p class="lead">Industries rise and fall as new technologies emerge, but programmers and developers will always be needed. There will always be problems to solve and overcome, which is why a human element will continue to be required. It is the empathetic ability of humans to see when something new should be created that will keep them coding.</p>
  </div>
  <hr class="featurette-divider">

</div>

  <!-- /END THE FEATURETTES -->

  <!-- START TESTIMONIALS -->

  <h1 class="featurette-heading testtitle text-muted">why do you code?</h1>
  <br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      
<!-- Bottom Carousel Indicators -->
<ol class="carousel-indicators">
  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
  <li data-target="#quote-carousel" data-slide-to="1"></li>
  <li data-target="#quote-carousel" data-slide-to="2"></li>
</ol>
        
<!-- Carousel Slides / Quotes -->
<div class="carousel-inner">

    <!-- Quote 1 -->
    <div class="item active">
      <div class="row">
        <div class="col-sm-12">
          <p class="quote">&ldquo;Coding is interesting and fun. The possibilities are endless. Coding is a wonderful thing that I think most people should do everyday.&rdquo;</p>
          <small><strong>Mark Akom</strong></small>
        </div>
      </div>
    </div>

    <!-- Quote 2 -->
    <div class="item">
      <div class="row">
        <div class="col-sm-12">
          <p class="quote">&ldquo;Although it's tough to learn, stick with it! The benefits are great! :)&rdquo;</p>
          <small><strong>Manish Singh</strong></small>
        </div>
      </div>
    </div>

    <!-- Quote 3 -->
    <div class="item">
      <div class="row">
        <div class="col-sm-12">
          <p class="quote">&ldquo;Programming not only gives you freedom to solve problems and build things, it gives you power! &rdquo;</p>
          <small><strong>Abel Wharton</strong></small>
        </div>
      </div>
    </div>
</div>
<br>

<hr class="featurette-divider">

       
